@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.1;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 14px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    color: #343434;
    background-color: #ffc401;
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
    padding: 12px 25px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    line-height: 20px;
}

.button:hover {
    background-color: #e0ac00;
    color: #fff;
}

.grey-button {
    background-color: #333333;
    color: #FFF;
}

.grey-button:hover {
    background-color: #000000;
}

#header .navbar {
    background: rgba(30, 30, 30, 0.45);
    padding: 8px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#header .logo {
    float: left;
    padding-top: 20px;
}

#header .navigation {
    float: right;
}

#header .navigation > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#header .navigation > ul > li > a {
    display: block;
    padding: 0 15px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#header .navigation > ul > li > a.active {
    color: rgb(0, 195, 255);
}

#header .navigation > ul > li > a:hover {
    color: rgb(255, 189, 66);
}

#intro {
    background-color: rgba(17, 0, 255, 0.719);
    background-image: url('../img/pattern.png');
    min-height: 100vh;
    padding-top: 190px;
    padding-bottom: 140px;
}

#intro .intro-left,
#intro .intro-right {
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

#intro .intro-text h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 75px;
    line-height: 85px;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 15px;
}

#intro .intro-text h3 {
    color: #fff;
    font-size: 34px;
    line-height: 34px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#intro .intro-text p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 25px;
}

#about {
    padding-top: 80px;
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
}

#about .section-heading {
    text-align: center;
}

#about .section-heading h3 {
    color: #222;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#about .section-heading h2 {
    color: #222;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

#about .section-heading h2 span {
    border-bottom: 2px solid #ffc401;
    display: inline-block;
    padding-bottom: 15px;
}

#about .about-left,
#about .about-right {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

#about .about-left {
    width: 58.33333333%;
}

#about .about-right {
    width: 41.66666667%;
} 

#about .tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#about .tabs ul li {
    border-right: 1px solid rgb(129, 129, 129);
}

#about .tabs ul li a {
    display: block;
    color: #222;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 25px;
}

#about .tabs ul li:first-child a {
    padding-left: 0;
}

#about .tabs ul li:last-child {
    border-right: none;
}

#about .tabs ul li.active a {
    color: #ffc400;
}

/* #about .tabs ul li:nth-child(1)
   #about .tabs ul li:nth-child(2) ir 3 eilute ir t.t...  */
/* about .tabs ul li:nth-child(1n) - lyginiai, nelyginiai child */

#about .tabs .tab-content {
    font-size: 16px;
    line-height: 28px;
}

#features {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.two-columns {
    display: flex;
    margin-top: 80px;
}

.features-column {
    flex: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.column-item {
    margin-bottom: 40px;
    text-align: initial;
}

.column-item h4 {
    font-size: 20px;
    font-weight: 400;
    color: #222;
}

.column-item p {
    font-size: 16px;
    line-height: 26px;
}

.features-buttons .button {
    margin-right: 20px;
}

.like {
    position: absolute;
    left: 0;
    top: 50px;
    animation-name: animacija;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform: rotate(90deg);
}

.like:nth-of-type(2) {
    right: 0;
    left: initial;
    animation-name: backwards;
}

@keyframes backwards { 
    0% {
        transform: translateX(60px) rotate(-90deg);
    }
    50% {
        transform: translateX(360px) rotate(-90deg);
    }
    100% {
        transform: translateX(60px) rotate(-90deg);
    }
  }

@keyframes animacija { 
    0% {
        transform: translateX(-390px) rotate(90deg);
    }
    50% {
        transform: translateX(-35px) rotate(90deg);
    }
    100% {
        transform: translateX(-390px) rotate(90deg);
    }
  }

.about-responsive {
    background-color: #f5f5f5;
    align-items: center;
}

.about-flex {
    display: flex;
}

.tablet-columns {
    flex: 50%;
}

/* OUR FEATURES START */

.our-features {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

#our-features {
    background-image: url(../img/features.jpg);
    background-repeat: repeat;
    padding: 75px 0 80px; 
}

.features-columns {
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.features-columns > div {
    width: 50%;
}

.responsive-design {
    overflow: hidden;
    padding: 0px 0px 30px 0px;
}

.powerful-options {
    overflow: hidden;
    padding: 0px 0px 30px 30px;
}

.bootstrap-grid {
    overflow: hidden;
    padding: 0px 0px 30px 0px;
}

.easy-to-modify {
    overflow: hidden;
    padding: 0px 0px 30px 30px;
}

.jquery-effects {
    overflow: hidden;
    padding: 0px 0px 30px 0px;
}

.premium-support {
    overflow: hidden;
    padding: 0px 0px 30px 30px;
}

.responsive-design p {
    padding-left: 20px;
}

#our-features h2 span {
    border-bottom: 2px solid #ffc401;
    display: inline-block;
    padding-bottom: 15px;
}

.icon {
    box-sizing: border-box;
    color: #fec300;
    float: left;
    font-size: 60px;
    padding: 25px 25px 25px 25px;
}

.features-text {
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    padding-right: 3px;
}

/* OUR HISTORY START */

.our-history {
    font-size: 20px;
    color: #222;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
}

#our-history h2 span {
    border-bottom: 2px solid #ffc401;
    display: inline-block;
    padding: 82px 0px 10px 0px;
}

/* #our-history .container {
    padding-top: 100px;
    height: 1900px;
  } */

#our-history {
    height: 2000px;
  }

#our-history .span-box {
    font-size: 20px;
    border: 2px solid none;
    padding: 7px 15px;
    background-color: #ffc400;
    font-weight: bolder;
    color: white;
}

.center {
    text-align: center;
}

#our-history .vertical {
    padding: 30px 0;
}

#our-history .container .gray-box-float {
    height: 300px;
    display: flex;
    align-items: center;
}
  #our-history .container .gray-box .mini-box-left:hover {
    background-color: thistle;
}

#our-history .container .gray-box.box-right {
    margin-left: auto;
    order: 2;
}
 
#our-history .container .gray-box {
    background-color: rgb(240, 240, 240);
    padding: 0px 30px;
    width: 40%;
}

.line-down {
    width: 1700px;
    height: 1px;
    border-bottom: 2px solid rgb(240, 240, 240);
    position: relative;
    transform: rotate(90deg);
    margin-left: auto;
    margin-right: auto;
    left: -279px;
    right: 0;
    top: 820px;
    text-align: center;
    z-index: -1;
}

.mini-box-left,
.mini-box-right {
    position: relative;
    transform: rotate(45deg);
    height: 30px;
    width: 30px;
    background-color: rgb(240, 240, 240);
    left: 410px;
    top: 60px;
    z-index: -2;
}

.mini-box-right {
    left: -45px;
}

.circle {
    position: relative;
    transform: rotate(45deg);
    height: 30px;
    width: 30px;
    border: 3px solid rgb(240, 240, 240);
    background-color: white;
    border-radius: 100%;
    left: 556px;
    top: 166px;
    z-index: -1;
}
/* OUR HISTORY END */

/* SOME FACTS START */
.some-facts h4 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 80px;
}

.some-facts h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

#some-facts h2 span {
    border-bottom: 2px solid #ffc401;
    display: inline-block;
    padding: 0px 0px 10px 0px;
}

#some-facts {
    height: 500px;
    background-image: url('/img/statistic-banner.jpg');
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    background-position: 40% 70px;
}

.box-numbers {
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 75px 100px 81px 0px;
    font-family: sans-serif;
}

.statistic-numbers {
    font-size: 80px;
    line-height: 80px;
    font-weight: 400;
    margin-bottom: 20px;
}

.statistic-text {
    font-size: 24px;
    font-weight: 300;
}

/* SOME FACTS END */

/* CONTACT FORM START */
#contact-us {
    background-image: url('../img/contacts.jpg');
    height: 100vh;
    padding: 80px 0 100px;
    background-position: center top;
    box-shadow: 0 0 100vw 100vw inset rgb(0 0 0 / 60%);
}

#contact-us h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    margin-bottom: 84px;
}

#contact-us h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -19px;
    transform: translateX(-50%);
    width: 201px;
    height: 2px;
    background: #ffc401;
}

#contact-us h3 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 26px;
    margin-bottom: 5px;
}

#contact-us .contact-row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

#contact-us .contact-form fieldset {
    width: 100%;
    border: none;
    padding: 0 15px;
    margin: 0 0 19px;
}

#contact-us .contact-form fieldset input {
    width: 100%;
    background: rgba(255,255,255,.1);
    border: 1px solid #383738;
    font-size: 15px;
    padding: 16px 12px;
    color: #fff;
}

#contact-us .contact-form fieldset textarea {
    width: 100%;
    height: 200px;
    background: rgba(255,255,255,.1);
    border: 1px solid #383738;
    font-size: 15px;
    color: #fff;
    padding: 6px 12px;
}

#contact-us .contact-form fieldset input:focus {
    border: none;
    outline: none;
}

#contact-us .button-row {
    justify-content: center;
    margin-top: 17px;
}
/* CONTACT FORM END */

/* OUR ADDRESS START */
.info-box {
    padding: 30px;
}

.info-box i {
    color: #ffc400;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}

.info-box h4 {
    color: #222;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
}

.flex-address {
    display: flex;
    justify-content: center;
}

#our-address .container {
    text-align: center;
}

#our-address h3 {
    color: #222;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 80px;
}

#our-address h2 {
    color: #222;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

#our-address h2::after {
    display: block;
    content: "";
    height: 2px;
    width: 200px;
    background: #ffc400;
    margin: 15px auto;
    position: relative;
}

#google-maps iframe {
    width: 100%;
    display: block;
}

/* OUR ADDRESS END */